<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Libros</title>
</head>
<body>

    <nav class="navbar navbar-light blur">
        <img src="{{url_for('static', filename='img/itec.png')}}" width="80" height="80" class="d-inline-block align-top " alt="" loading="lazy">
        <p class="Righteous m-3" id="title">BIBLIOTECA ITEC RIO CUARTO</p> 
    </nav>   
           
  <br><br>
  
    <div class="container"> 
    <br>
    <form action="{{ url_for('editarLibro',libro_id = libro.id)}}" method="post">
        <div class="form-group">
            
            <label for="nombre"> Titulo:</label>
            <input type="text" class="form-control" name="nombre" value="{{libro.titulo }}">
            <br>
            <label for="nombre">Autor:</label>
            <input type="text" class="form-control" name="autor" value="{{libro.autor}}">
            <br>
            <label for="nombre">Genero:</label>
            <input type="text" class="form-control" name="genero" value="{{libro.genero}}">
            <br>
            
            <button type="submit" class="btn btn-light m-3 botones verde">GUARDAR</button>
            
            <a href='{{ url_for("mostrarLibros") }}'>
                <button class="btn btn-light m-3 botones naranja">CANCELAR</button>
            </a>
        </div>
    </form>
    <br>


    <br><br>
    <!-- COMIENZO DEL FOOTER -->
    <nav class="fixed-bottom footer">
      <br>    
      <p>© Copyright 2021 Copyright.ar - Todos los Derechos Reservados - Legal - power by DG</p>
      <br>
    </nav> <!--  FIN DEL FOOTER -->  

</body>    
</html>